@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');


/* shared style  start */
.text-light-gray{
    color: #727272;
    }

    .shared-title{
        font-size: 2.8rem;
        color: #131313;
    }

/* shared style finished */

*{
    font-family: 'Work Sans', sans-serif;
}

/* =header part started */


h1{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
header{
    background-color: beige;
    padding: 50px 240px;
  
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul{
    display: flex;
}

nav ul li {
font-size: 1rem;
font-style: normal;
font-weight: 500;
list-style: none;
margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color:  #424242;
}

.banner-content{
    max-width: 880px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
font-size: 4rem;
font-weight: 700;
color:  #131313;
font-weight: 700;
}

.button-primary{
padding: 20px 25px;
border-radius: 8px;
background: #FF900E;
color: #FFF;
font-size: 1.25rem;
font-weight: 600;
cursor: pointer;
border: 0;

}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main section started hare */

main{
    max-width: 1440px;
    margin: 70px auto;
    border: 5px solid tomato;
}

/* main section End hare */
.team-container{
    display: flex;
    align-items: center;
    border: 5px solid green;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content{
    padding-left: 70px;
    padding-right: 70px;
}

.team-title{
    font-size: 2.8rem;
    font-family: Work Sans;
}

.quick-list{
color: #727272;
font-weight: 500;
}

.of-our{
color: var(--Dark-01, #131313);
font-weight: 700;
}

.feature{
    color: #FF900E;
font-weight: 700;
}


.fact-card-container{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
.fact-card-container .card{
    text-align: center;
    border-radius: 8px;
    border: 1px solid tan;
    font-size: 1.25rem;
    padding: 25px;
}

.fact-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    
}

.fact-card-container  card-title{
    font-weight:  600px;

}

/* -responsive media section */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }

    nav, 
    .team-container{
        flex-direction: column;
        border: 5px solid blue;
    }

    .team-image-container{
        grid-template-columns: 1fr;
    }
}

/* tablet or other media device */

@media screen and (max-width:992px) and  (max-width:992px) {
    header{
        padding: 50px;
    }

    nav , .team-container{
        flex-direction: column
    }

    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }

}